<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/auislide.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" href="../css/base.css">
		<link rel="stylesheet" href="../css/zhibo.css">
    <style>
           html,body{background-color: #ffffff}
        .empty{ text-align: center; padding: 120px 0; }
    </style>
</head>
<body >
  <div id="aui-slide">
    <div id="slidebox" class="aui-slide-wrap">


    </div>
    <div class="aui-slide-page-wrap"><!--分页容器--></div>
  </div>
  <div class="gonggaozb">
    <div class="list-title-l">
      <i class="iconfont icon-xitonggonggao" style="color:#585858;font-size: 1rem"></i>
    </div>
    <div class="gonggaozb-r">
      <span id="gonggao" style="color:#585858;font-size: 0.65rem;padding-top:0.3rem;">会员任性看</span>
    </div>
  </div>

	<div class="wrap">
    <div class="game-page">
    <section class="aui-grid aui-margin-b-hezi">
    <!--  <li>
      <div class="weui-grida js_grid" onclick="yingyuan()">
      <center>
      <img class="zhiboImg" src="../image/zhibo/yingyuan.png" >
      </center>
      <p class="text">云端影院</p>
      </div>
    </li> -->


<li>
<div class="weui-grid js_grid" onclick="vList()">
<center>
<img class="zhiboImg" src="../image/zhibo/video.png" >
</center>
<p class="text">最新电影</p>
</div>
</li>

<li>
<div class="weui-grid js_grid" onclick="tvList()">
<center>
<img class="zhiboImg" src="../image/app/tv.png" >
</center>
<p class="text">电视直播</p>
</div>
</li>

<li>
<div class="weui-grid js_grid" onclick="gameList()">
<center>
<img class="zhiboImg" src="../image/zhibo/game.png" >
</center>
<p class="text">游戏直播</p>
</div>
</li>

<li>
<div class="weui-grid js_grid" onclick="mnList()">
<center>
<img class="zhiboImg" src="../image/zhibo/mnvideo.png" >
</center>
<p class="text">美女视频</p>
</div>
</li>

<li>
<div class="weui-grid js_grid" onclick="zbList()">
<center>
<img class="zhiboImg" src="../image/zhibo/zhibo.png" >
</center>
<p class="text">直播盒子</p>
</div>
</li>

<li>
<div class="weui-grid js_grid" onclick="hjList()">
<center>
<img class="zhiboImg" src="../image/zhibo/tv.png" >
</center>
<p class="text">海外电视</p>
</div>
</li>
<li>
<div class="weui-grid js_grid" onclick="duanList()">
<center>
<img class="zhiboImg" src="../image/zhibo/douyin.png" >
</center>
<p class="text">短视频</p>
</div>
</li>
<li>
<div class="weui-grid js_grid" onclick="tuiList()">
<center>
<img class="zhiboImg" src="../image/zhibo/yingyuan.png" >
</center>
<p class="text">推荐影视</p>
</div>
</li>

<li>
<div class="weui-grid js_grid" onclick="xsiList()">
<center>
<img class="zhiboImg" src="../image/zhibo/manhua.png" >
</center>
<p class="text">漫画台</p>
</div>
</li>



</section>


   <section class="aui-grida aui-margin-b-15">
      <!-- 视频列表 -->
    <div  id="liveList">
      <ul class="clearfix" id="div_list">

      </ul>
    </div>
</section>
</body>


<script type="text/x-dot-template" id="template">
{{~ it.msg : value : index }}
    <li class="weui-grida js_grid" onclick="toBanner('{{= value. url }}','{{= value. title }}')">
      <div >
        <center><img src="http://api.flushingx.com/{{= value. img }}" alt="" class="zhiboImg"></center>
      </div>
      <div class="text" >{{= value. title }}</div>

    </li>
{{~}}
</script>


<!--轮播图片广告-->
<script type="text/x-dot-template" id="bannertpl">
  {{~ it.data : value : index }}
    <div class="aui-slide-node bg-dark" tapmode onclick="lunbo('{{= value. linkurl }}')">
        <img src="http://api.flushingx.com/{{= value. picurl }}" />
    </div>
  {{~}}
</script>


<script type="text/x-dot-template" id="navcattpl">
  {{~ it.data : value : index }}
  		<div class="aui-col-xs-3 pt-list" tapmode onclick="openLive('{{= value. linkurl }}')">
          <i class="aui-iconfont"><img src="http://api.flushingx.com/{{= value. picurl }}"/></i>
          <div class="aui-grid-label">{{= value. name }}</div>
        </div>

  {{~}}
</script>

<!--底部图片广告-->
<script type="text/x-dot-template" id="lrtpl">
<img id="bpic" src="http://api.flushingx.com/{{=it.picurl}}" onclick="imgUrl('{{=it.linkurl}}')">
</script>



<!--文字广告-->
<script type="text/x-dot-template" id="wzttpl">
 <span style="color:red;font-size: 0.65rem" onclick="toBanner('{{=it.linkurl}}')">{{=it.name}}</span>
</script>

<!--文字广告-->
<script type="text/x-dot-template" id="wzbtpl">
 <span style="color:red;font-size: 0.65rem" onclick="toBanner('{{=it.linkurl}}')">{{=it.name}}</span>
</script>

<!--底部广告区域-->
<script type="text/x-dot-template" id="navtjtpl">
  {{~ it.data : value : index }}
  		<div class="aui-col-xs-3 pt-list" tapmode onclick="openurl('{{= value. linkurl }}')">
          <div class="myui-label">{{= value. name }}</div>
          <div class="myui-label-b">{{= value. content }}</div>
          <i class="aui-iconfont"><img src="http://api.flushingx.com/{{= value. picurl }}"/></i>
        </div>
  {{~}}
</script>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/doT.js"></script>
<script type="text/javascript" src="../script/auipullrefresh.js"></script>
<script type="text/javascript" src="../script/auislide.js"></script>
<script type="text/javascript" src="../script/auilazyload.js" ></script>
<script type="text/javascript">
  var imgdz = '';

  var api_url = localStorage.getItem('api_url');
  apiready = function(){
    getBanner();
    api.parseTapmode();
		var div_list = $api.byId('div_list');
    var template = $api.byId('template');
    api.ajax({
        url: 'http://api.flushingx.com/login/login/bhlist.html',
        method: 'get'
    },function(ret, err){
        if (ret) {
          //alert( JSON.stringify( ret ) );
          var pagefn = doT.template(template.text);
          div_list.innerHTML = pagefn(ret);
          api.hideProgress();
        } else {
          api.hideProgress();
            //alert( JSON.stringify( err ) );
        }
    });
    api.ajax({
        url: api_url+'/login/login/imgad.html',
        method: 'get'
    },function(ret, err){
        if (ret) {
          //alert( JSON.stringify( ret ) );
          localStorage.setItem('fxpic1',ret.msg.fxpic1);
          localStorage.setItem('fxurl1',ret.msg.fxurl1);
          localStorage.setItem('fxpic2',ret.msg.fxpic2);
          localStorage.setItem('fxurl2',ret.msg.fxurl2);
          var bpic = $api.byId('bpic');

        } else {

        }
    });


		api.setRefreshHeaderInfo({
        visible: true,
        loadingImg: 'widget://image/refresh.png',
        bgColor: '#fff',
        textColor: '#333',
        textDown: '下拉刷新...',
        textUp: '松开刷新...',
        showTime: true
    }, function(ret, err){
      if (err) {
        api.toast({
            msg: '加载数据失败',
            duration: 2000,
            location: 'middle'
        });
        api.refreshHeaderLoadDone();
      }else {
        getBanner();
				list();
        api.toast({
            msg: '刷新成功',
            duration: 1000,
            location: 'middle'
        });
        api.refreshHeaderLoadDone();

      }

    });
  }


function list(){
	api.ajax({
			url: 'http://api.flushingx.com/login/login/bhlist.html',
			method: 'get'
	},function(ret, err){
			if (ret) {
				//alert( JSON.stringify( ret ) );
				var pagefn = doT.template(template.text);
				div_list.innerHTML = pagefn(ret);
				api.hideProgress();
			} else {
				api.hideProgress();
					//alert( JSON.stringify( err ) );
			}
	});
}
  //访问轮播地址
  function toBanner(url){
    var time = localStorage.getItem('user_time');
    var user_id = localStorage.getItem('user_id');
    var username = localStorage.getItem('user_name');
    var timestamp = Date.parse(new Date())/1000;
    if(user_id==0){
      api.alert({
          title: '温馨提示',
          msg: '请先登陆后使用',
      });
      api.openWin({
          name: 'login',
          url: './login.html',
          delay: 300
      });
      return;

    }

    if (time>timestamp) {

      setTimeout("playRadio();",1000);
      var delay = 0;
      if(api.systemType != 'ios'){
          delay = 300;
      }
      api.openWin({
          name: 'h5',
          url: './h5.html',
          pageParam: {url: url}
      });
    }else if (time == -1) {

      setTimeout("playRadio();",2000);
      var delay = 0;
      if(api.systemType != 'ios'){
          delay = 300;
      }
      api.openWin({
          name: 'h5',
          url: './h5.html',
          pageParam: {url: url}
      });
    }else if (time<timestamp){
      var dialogBox = api.require('dialogBox');
      dialogBox.alert({
          texts: {
              content: '您的VIP会员已过期，或者未登录！',
              leftBtnTitle: '去登录',
              rightBtnTitle: '去续费'
          },
          styles: {
              bg: '#fff',
              w: 300,
              content: {
                  color: '#000',
                  size: 14
              },
              left: {
                  marginB: 7,
                  marginL: 20,
                  w: 130,
                  h: 35,
                  corner: 2,
                  bg: '#ff7600',
                  color: '#fff',
                  size: 14
              },
              right: {
                  marginB: 7,
                  marginL: 10,
                  w: 130,
                  h: 35,
                  corner: 2,
                  bg: '#ff7600',
                  color: '#fff',
                  size: 14
              }
          }
      }, function(ret) {
          if (ret.eventType == 'left') {
            api.openWin({
                name: 'login',
                url: './login.html',
                delay: 300
            });
              var dialogBox = api.require('dialogBox');
              dialogBox.close({
                  dialogName: 'alert'
              });
          }else if (ret.eventType == 'right') {
            api.openWin({
                name: 'open_vip_win',
                url: './open_vip_win.html',
                delay: 300
            });
            var dialogBox = api.require('dialogBox');
            dialogBox.close({
                dialogName: 'alert'
            });
          }
      });
    }

  }

  //访问轮播地址
  function lunbo(url){

    if (url == '') {

    }else {
      api.openWin({
          name: 'h5',
          url: './h5.html',
          pageParam: {
              url: url
          }
      });
    }
  }

  //菜单导航获取
  function getBanner(){
    var bannerid = $api.byId('slidebox');
    var bannertpl = $api.byId('bannertpl');

    api.ajax({
        url: api_url+'/login/login/banben.html',
        method: 'get'
    },function(ret, err){
        if (ret) {
          localStorage.setItem('user_advert',ret.advert3);
          var advert = $api.byId('gonggao');
          advert.innerHTML = localStorage.getItem('user_advert');
            localStorage.setItem('jx_url1',ret.banben);
            localStorage.setItem('jx_url2',ret.url);
            localStorage.setItem('jx_url3',ret.url2);
            localStorage.setItem('jx_url4',ret.url3);
            localStorage.setItem('jx_url5',ret.url4);
            localStorage.setItem('jx_url6',ret.url5);
            localStorage.setItem('hburl',ret.hburl);
        } else {
            //alert( JSON.stringify( err ) );
        }
    });

    api.ajax({
        url: api_url+'/app/nav',
        method: 'get',
    },function(ret, err){
        if (ret) {
          //渲染模板
          var pagefn = doT.template(bannertpl.text);
          bannerid.innerHTML = pagefn(ret.bhbanner);
//      alert( JSON.stringify( ret.banner ) );
          banNer();

        } else {
            alert( '连接到服务器失败' );
            api.hideProgress();
        }
    });
  }




  //幻灯轮播图
  function banNer(){
    var slide = new auiSlide({
        container:document.getElementById("aui-slide"),
        // "width":300,
        "height":150,
        "speed":300,
        "pageShow":true,
        "autoPlay": 5000,
        "pageStyle":'dot',
        "loop":true,
        'dotPosition':'center',
    });
  }

  new auiLazyload({
      errorImage:'../image/error-img.jpg'
  });

  function vList(){
  var delay = 0;
  if(api.systemType != 'ios'){
      delay = 300;
  }
  api.openWin({
      name: 'v_list_win',
      url: 'v_list_win.html',
      bounces:false,
      delay: delay,
      slidBackEnabled:true,
      vScrollBarEnabled:false,
  });
}
  
  function xsiList(){
  var delay = 0;
  if(api.systemType != 'ios'){
      delay = 300;
  }
  api.openWin({
      name: 'xiaoshuo',
      url: 'xiaoshuo.html',
      bounces:false,
      delay: delay,
      slidBackEnabled:true,
      vScrollBarEnabled:false,
  });
}  

function tvList(){
  var delay = 0;
  if(api.systemType != 'ios'){
      delay = 300;
  }
  api.openWin({
      name: 'tv_list_win',
      url: 'tv_list_win.html',
      bounces:false,
      delay: delay,
      slidBackEnabled:true,
      vScrollBarEnabled:false,
  });
}

function zbList(){
  var delay = 0;
  if(api.systemType != 'ios'){
      delay = 300;
  }
  api.openWin({
      name: 'zhibo_win',
      url: 'zhibo_win.html',
      bounces:false,
      delay: delay,
      slidBackEnabled:true,
      vScrollBarEnabled:false,
  });
}

function mnList(){
	var delay = 0;
	if(api.systemType != 'ios'){
			delay = 300;
	}
	api.openWin({
			name: 'v_mn_win',
			url: 'v_mn_win.html',
			bounces:false,
			delay: delay,
			slidBackEnabled:true,
			vScrollBarEnabled:false,
	});
}

function zhiboList(){
	var delay = 0;
	if(api.systemType != 'ios'){
			delay = 300;
	}
	api.openWin({
			name: 'zhibo_win',
			url: 'zhibo_win.html',
			bounces:false,
			delay: delay,
			slidBackEnabled:true,
			vScrollBarEnabled:false,
	});
}

function gameList(){
	var delay = 0;
	if(api.systemType != 'ios'){
			delay = 300;
	}
	api.openWin({
			name: 'game_list_win',
			url: 'game_list_win.html',
			bounces:false,
			delay: delay,
			slidBackEnabled:true,
			vScrollBarEnabled:false,
	});
}
function hjList(){
	var delay = 0;
	if(api.systemType != 'ios'){
			delay = 300;
	}
	api.openWin({
			name: 'hy_mn_win',
			url: 'hy_mn_win.html',
			bounces:false,
			delay: delay,
			slidBackEnabled:true,
			vScrollBarEnabled:false,
	});
}
function duanList (){
	var delay = 0;
	if(api.systemType != 'ios'){
			delay = 300;
	}
	api.openWin({
			name: 'douyin',
			url: 'douyin.html',
			bounces:false,
			delay: delay,
			slidBackEnabled:true,
			vScrollBarEnabled:false,
	});
}
function tuiList (){
	var delay = 0;
	if(api.systemType != 'ios'){
			delay = 300;
	}
	api.openWin({
			name: 'tui_mn_win',
			url: 'tui_mn_win.html',
			bounces:false,
			delay: delay,
			slidBackEnabled:true,
			vScrollBarEnabled:false,
	});
}


function douyin(){
	var delay = 0;
	if(api.systemType != 'ios'){
			delay = 300;
	}
	api.openWin({
			name: 'douyin',
			url: 'douyin.html',
			bounces:false,
			delay: delay,
			slidBackEnabled:true,
			vScrollBarEnabled:false,
	});
}

</script>
</html>
