<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/api.css"/>
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/auislide.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>

    <style>
       html,body{background-color:#FFFFFF;}
        .empty{ text-align: center; padding: 120px 0; }
    </style>
</head>
<body>
  <section class="aui-grid aui-margin-b-15" style="display:none">
      <div class="aui-row" id="div_list_f">
      </div>
  </section>
  </div>

  <div class="index-b" id="lrbox">

  </div>

<!-- 顶部文字广告-->

    <div class="list-title" >
      <div class="list-title-l">

      </div>
      <div id="wzbox_top" style="text-align:center;color:#000"></div>
    </div>

<!-- 四个图标广告-->
  <section class="aui-grid aui-margin-b-15">
      <div class="aui-row" id="div_list">
      </div>
  </section>

<!-- 下方文字广告
  <div class="list-title">
    <div class="list-title-l" >
      <span style="color:#585858;font-size: 0.7rem">热门推荐</span>
    </div>
    <div class="list-title-r" id="wzbox_bottom">
     </div>
  </div>-->

<!-- 底部图片广告-->
    <div class="index-b" id="dtbox">

  </div>
<div class="br"> </div>
</body>
<!--底部图片广告-->
<script type="text/x-dot-template" id="bannertpl">
  {{~ it.data : value : index }}
    <div class="aui-slide-node bg-dark" tapmode onclick="toBanner('{{= value. linkurl }}')">
        <img src="http://api.flushingx.com/{{= value. picurl }}" />
    </div>
  {{~}}
</script>


<script type="text/x-dot-template" id="navcattpl">
  {{~ it.data : value : index }}
  		<div class="aui-col-xs-3 pt-list" tapmode onclick="openLive('{{= value. linkurl }}')">
          <i class="aui-iconfont"><img src="http://api.flushingx.com/{{= value. picurl }}"/></i>
          <div class="aui-grid-label">{{= value. name }}</div>
        </div>

  {{~}}
</script>

<!--底部图片广告-->
<script type="text/x-dot-template" id="lrtpl">
<img id="bpic" src="http://api.flushingx.com/{{=it.picurl}}" onclick="imgUrl('{{=it.linkurl}}')">
</script>


<script type="text/x-dot-template" id="dttpl">
  <img id="dttpl" src="http://api.flushingx.com/{{=it.picurl}}" onclick="imgUrl('{{=it.linkurl}}')">
  </script>

<!--文字广告-->
<script type="text/x-dot-template" id="wzttpl">
 <span style="color:red;font-size: 0.65rem" onclick="toBanner('{{=it.linkurl}}')">{{=it.name}}</span>
</script>

<!--文字广告-->
<script type="text/x-dot-template" id="wzbtpl">
 <span style="color:red;font-size: 0.65rem" onclick="toBanner('{{=it.linkurl}}')">{{=it.name}}</span>
</script>

<!--底部广告区域-->
<script type="text/x-dot-template" id="navtjtpl">
  {{~ it.data : value : index }}
  		<div class="aui-col-xs-3 pt-list" tapmode onclick="imgUrl('{{= value. linkurl }}')">
          <div class="myui-label">{{= value. name }}</div>
          <div class="myui-label-b">{{= value. content }}</div>
          <i class="aui-iconfont"><img src="http://api.flushingx.com/{{= value. picurl }}"/></i>
        </div>
  {{~}}

</script>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/doT.js"></script>
<script type="text/javascript" src="../script/auipullrefresh.js"></script>
<script type="text/javascript" src="../script/auislide.js"></script>
<script type="text/javascript" src="../script/auilazyload.js" ></script>
<script type="text/javascript">
  var imgdz = '';

  var api_url = localStorage.getItem('api_url');
  apiready = function(){
    getBanner();
    getNav();
    api.parseTapmode();
    api.ajax({
        url: api_url+'/login/login/imgad.html',
        method: 'get'
    },function(ret, err){
        if (ret) {
          //alert( JSON.stringify( ret ) );
          localStorage.setItem('fxpic1',ret.msg.fxpic1);
          localStorage.setItem('fxurl1',ret.msg.fxurl1);
          localStorage.setItem('fxpic2',ret.msg.fxpic2);
          localStorage.setItem('fxurl2',ret.msg.fxurl2);
          var bpic = $api.byId('bpic');
//        imgdz = ret.msg.picurl;
//        if (ret.msg.pic!='') {
//          bpic.src = ret.msg.pic;
//        }
//        document.getElementById("bpic").onclick = function(){ imgUrl(); };
        } else {


        }
    });

  }



  function imgUrl(url){
    api.openWin({
        name: 'h5',
        url: './h5.html',
        pageParam: {
            url: url
        }
    });
  }

  function playRadio(){
    api.hideProgress();
  }



  //访问轮播地址
  function toBanner(url){

    if (url == '') {

    }else {
      api.openWin({
          name: 'h5',
          url: './h5.html',
          pageParam: {
              url: url
          }
      });
    }
  }

  //菜单导航获取
  function getBanner(){
    var bannerid = $api.byId('slidebox');
    var bannertpl = $api.byId('bannertpl');

    api.ajax({
        url: api_url+'/login/login/banben.html',
        method: 'get'
    },function(ret, err){
        if (ret) {
          localStorage.setItem('user_advert',ret.advert);
          var advert = $api.byId('gonggao');

            localStorage.setItem('jx_url1',ret.banben);
            localStorage.setItem('jx_url2',ret.url);
            localStorage.setItem('jx_url3',ret.url2);
            localStorage.setItem('jx_url4',ret.url3);
            localStorage.setItem('jx_url5',ret.url4);
            localStorage.setItem('jx_url6',ret.url5);
            localStorage.setItem('hburl',ret.hburl);
        } else {
            //alert( JSON.stringify( err ) );
        }
    });

    api.ajax({
        url: api_url+'/app/nav',
        method: 'get',
    },function(ret, err){
        if (ret) {
          //渲染模板
          var pagefn = doT.template(bannertpl.text);

//      alert( JSON.stringify( ret.banner ) );
          banNer();

        } else {
            alert( '网络错误' );
            api.hideProgress();
        }
    });
  }
  //轮播图获取
  function getNav(){
    var navid = $api.byId('div_list_f');
    var navtpl = $api.byId('navcattpl');
  	var navtjid = $api.byId('div_list');
    var navtjtpl = $api.byId('navtjtpl');
   	var lrid = $api.byId('lrbox');
    var lrtpl = $api.byId('lrtpl');
	  var dtid = $api.byId('dtbox');
    var dttpl = $api.byId('dttpl');
    var wztid = $api.byId('wzbox_top');
    var wzttpl = $api.byId('wzttpl');
    var wzbid = $api.byId('wzbox_bottom');
    var wzbtpl = $api.byId('wzbtpl');
    api.ajax({
        url: api_url+'/app/nav',
        method: 'get',
    },function(ret, err){
        if (ret) {
          //渲染模板
          var pagefn = doT.template(navtpl.text);
          navid.innerHTML = pagefn(ret.vip);
          var pagefn = doT.template(navtjtpl.text);
          navtjid.innerHTML = pagefn(ret.zq);
          var fn = doT.template(lrtpl.text);
          lrid.innerHTML = fn(ret.al);
          var fn = doT.template(dttpl.text);
          dtid.innerHTML = fn(ret.dt);
          var fns = doT.template(wzttpl.text);
          var wzd=ret.wzwz;
          wztid.innerHTML = fns(wzd.data[0]);
          var fn = doT.template(wzbtpl.text);

//        alert( JSON.stringify( ret ) );


        } else {
            alert( '网络错误' );
            api.hideProgress();
        }
    });
  }



  //幻灯轮播图
  function banNer(){
    var slide = new auiSlide({
        container:document.getElementById("aui-slide"),
        // "width":300,
        "height":150,
        "speed":300,
        "pageShow":true,
        "autoPlay": 5000,
        "pageStyle":'dot',
        "loop":true,
        'dotPosition':'center',
    });
  }

  new auiLazyload({
      errorImage:'../image/error-img.jpg'
  });



  function openurl(url) {
     api.openApp({
     androidPkg : 'android.intent.action.VIEW',
     mimeType : 'text/html',
     uri : url,
     }, function(ret, err) {
      var msg = JSON.stringify(ret);
      api.openApp({
      iosUrl: url
    });
    });
 }

</script>
</html>
